#root {
    background-color:#1b1b1e;
}

#mainDiv {
    height: 1vh;
    color: white;
}

#mainContent {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    background-color: #303034;
}




/* List */
#itemList {
    margin: auto;
    width: 100%;   
    
}

#taskListName {
    height: 60px;
    padding: 10px;
    background-color: #303034;
}

#completeAllButton {
    width: 100%;
    height: 100%;

}
input:hover {
    background-color:#45454a;
}
button:hover {
    background-color:#45454a;
}



/* Task */
.taskCheckInput {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.taskLabel {
    font-size: 20px;
}

#taskUL {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px
}

.Item {
    margin: auto;
    height: 60px;
    background-color: #303034;
}


#newItemButton {
    height: 60px;
    width: 60px;
}

.delete {
    width: 50px;
    height: 50px;
    float: right;
}


/* New Task Section */
#newButtonRow {
    height:60px;
    background-color: #303034;  
}