#TEST {
    font-size: 300px;
}

#root {
    background-color:#1b1b1e;
}

#mainDiv {
    color: white;
    width: 75%;
    margin-left: 25%;
}

#mainContent {
    margin: auto;
    margin-top: 100px;
    width: 60%;
    background-color: #303034;
}


/* Side Bar */
#sideBar {
    background-color: #303034;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 25%;
    color: white;
    padding: 10px;
    overflow: scroll;
}
.example::-webkit-scrollbar {
    display: none;
}

#sideBarTitle {
    font-size: 30px;
    text-align: center;
}



/* Task List */
#itemList {
    margin: auto;
    width: 100%;   
    
}

#taskListName {
    height: 70px;
    padding: 10px;
    background-color: #303034;
    font-size: 25px;
}

#completeAllButton {
    width: 100%;
    height: 100%;

}
input:hover {
    background-color:#45454a;
}
button:hover {
    background-color:#45454a;
}





/* Task */
.taskCheckInput {
    margin: 10px;
    width: 40px;
    height: 40px;
}

.taskLabel {
    font-size: 20px;
}

#taskUL {
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px
}

.Item {
    margin: auto;
    height: 60px;
    background-color: #303034;
}


#newItemButton {
    height: 60px;
    width: 60px;
}

.delete {
    width: 50px;
    height: 50px;
    float: right;
}





/* New Task Section */
#newButtonRow {
    height:60px;
    background-color: #303034;  
}